* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Início menu */
.nav {
    display: flex;
    background-color: #1F2937;
    color: #F9FaF8;
    align-items: center;
    padding: 2vw 0 0 10vw;
}

.box .logo img {
    padding: 1vw;
    width: 10vw;
    height: auto;
}

.box .link {
    display: flex;
    margin-left: auto;
    padding-right: 10vw;
    padding-left: 1vw;
}

.box .link a {
    text-decoration: none;
    color: #F9FaF8;
    font-size: 2vw;
    padding: 1vw;
}
/* Fim menu */

/* Início hero */
.hero {
    background-color: #1F2937;
    display: flex;
    padding-top: 10vw;
}

.main {
    padding-left: 10vw;
    margin-left: 20vw;
}

.main h1 {
    margin-top: 5vw;
    font-size: 4vw;
    font-weight: bolder;
    color: white;
    max-width: 20vw;
}

.main p {
    color: lightgray;
    font-size: 1.5vw;
    max-width: 30vw;
}

.main button {
    /* Adicione estilos conforme necessário */
}

.image {
    display: flex;
    padding-bottom: 10vw;
    margin-left: 10vw;
}

.image img {
    width: 40vw;
    height: auto;
    border-radius: 2.5vw;
}
/* Fim hero */
