* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: system-ui;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Início menu */
.nav {
    display: flex;
    background-color: #1F2937;
    color: #F9FaF8;
    align-items: center;
    padding: 2vw 0 0 9vw;
}

.box .logo{
    margin-left: -1vw;
    margin-top: -1vw;
}

.box .logo img {
    padding: 1vw;
    width: 4vw;
    height: auto;
}

.box .link {
    display: flex;
    margin-top: -3vw;
    margin-left: 56vw;
    padding-right: 10vw;
    padding-left: 1vw;
}

.box .link a {
    text-decoration: none;
    color: #F9FaF8;
    font-size: 1.2rem;
    padding: 1vw;
}
/* Fim menu */

/* Início hero */
.hero {
    background-color: #1F2937;
    display: flex;
    padding-top: 10vw;
}

.main {
    margin-left: 17vw;
}

.main h1 {
    margin-top: 1vw;
    font-size: 3.2rem;
    font-weight: bolder;
    color: white;
    max-width: 25vw;
}

.main p {
    color: lightgray;
    font-size: 1rem;
    max-width: 25vw;
}

.main button {
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 8vw;
    margin-top: 1vh;
    padding: 1vh 4vh 1vh 4vh;
}

.image {
    display: flex;
    margin-left: 9vw;
    margin-top: -2vw;
    margin-bottom: 6vw;
}

.image img {
    height: 22vw;
    border-radius: 2.5vw;
}
/* Fim hero */

/* Inicio Sub hero */

.submain{
    text-align: center;
    padding: 8vw;
}

.title{
    margin-top: 2vw;
}
.title h1{
    color:  #1f2937;
    font-size: 2rem;
    font-weight: bolder;
}

.subimages{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 40px;
}

.subimages img{
    border:  solid 5px;
    border-radius: 8%;
    border-color: #3882F6;
    width: 13vw;
}

.subimages p{
    margin-top: 0.7vw;
    max-width: 13vw;
}

/* Fim subhero */

/* Quote */

.quote{
    background-color: #E5E7EB;
    padding: 10vw;
}

.qmessage{
    font-size: 2rem;
    font-style: italic;
}

.autor{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

/* Fim Quote*/

/* Sign */

.signup{
    text-align: center;
}

.center{
    justify-content: space-evenly;
    display: flex;
    padding: 2vw 0vw 2vw 0vw;
    margin: 5vw 20vw 5vw 20vw;
    background-color: #3882F6;
    border-radius: 0.6vw;
}

.center .c1{
    text-align: justify;
    color: white;
}

.center .c2{
    margin: -0.3vw -1vw 1vw 1vw;
    padding: 1vw 2vw 0vw 2vw;
}

.center button{
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.3vw;
    border-color: white;
    padding: 0.2vw 1.5vw 0.3vw 1.5vw;
}

/* Fim Sign */

/* Inicio Rodape */