.container{
    display: flex;
    flex-direction: column;
    /*margin: -10px;*/
}

.nav{
    display: flex;
    background-color: #1F2937;
    color: #F9FaF8;
    align-items: center;
    padding: 20px 0px 0px 200px;
}

.box .logo img{
    width: 70px;
    height: auto;
}

.box .link{
    display: flex;
    margin-left:auto;
    padding-right: 100px;
}

.box .link a{
    text-decoration: none;
    color: #F9FaF8;
    font-size: 18px;
    padding: 10px;
}
